@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.FooterBlock {
    position: relative;
    height: 400px;
    width: 100%;
    background: linear-gradient(0deg, #000000,#8a8a8a,#ffffff);
}

